<header class="header">
	<div id="Search" class="header__search">

		<form id="searchForm" class="header__search-form">
			<button type="button" id="close" class="header__search-close">&Cross;</button>
			<input type="search" class="header__search-input" name="" value="" placeholder="AXTAR...">
			<a href="#" title="" class="header__search-icon">
				<i class="fas  fa-search"></i>
			</a>
		</form>
	</div>
	<div class="navFix fixed-top">

		<nav class="navbar navbar-expand-md">
			<a class="navbar-brand" href="index.html">
				<img src="img/logo.png" class="img-fluid" alt="">
			</a>
			<div class="header-top-1 ml-auto">
				<div class="header__sosial">
					<a href="#" id="open1" class="mt-2" title="">
						<img src="img/search.png" class="icon-width" alt="">
					</a>
					<div class="langDropdown">
						<a href="#" class="langDropdown__az" title="">
							az
						</a>
						<div class="langContent">
							<a href="#" class="langDropdown__link" title="">
								en
							</a>
							<a href="#" class="langDropdown__link" title="">
								ru
							</a>

						</div>
					</div>
					<a href="#" class="mt-2" title="">
						<img src="img/man.png" class="icon-width" alt="">
					</a>
				</div>
			</div>
			<div class="nav-1" id="navbarNav">
				<ul class="navbar-nav">
					<div class="navDropdown">
						<li class="nav-item">
							<a class="nav-link sub-link" href="branch.html">haqqımızda </a>
						</li>
						<div class="navsubContent">
							<a href="history.html" target="_blank" class="navDropdown__link" title="">
								şirkət haqqında
							</a>
							<a href="logos.html" target="_blank" class="navDropdown__link" title="">
								təkrarsiğorta
							</a>
							<a href="#" class="navDropdown__link" title="">
								sub menu
							</a>
						</div>
					</div>
					<li class="nav-item">
						<a class="nav-link" href="news.html">xəbərlər</a>
					</li>
					<div class="navDropdown">
						<li class="nav-item">
							<a class="nav-link sub-link" href="branch.html">xidmətlər </a>
						</li>
						<div class="navsubContent">
							<a href="#" class="navDropdown__link" title="">
								sub menu
							</a>
							<a href="#" class="navDropdown__link" title="">
								sub menu
							</a>
							<a href="#" class="navDropdown__link" title="">
								sub menu
							</a>
						</div>
					</div>

					<li class="nav-item">
						<a class="nav-link" href="form-page.html">maliyyə-hesabatları</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="sidebar.html">karyera</a>
					</li>
				</ul>
			</div>
			<nav id="nav" class="nav nav-2 " role="navigation">

				<!-- ACTUAL NAVIGATION MENU -->
				<ul class="nav__menu" id="menu" tabindex="-1" aria-label="main navigation" hidden>
					<li class="nav__item"><a href="#" class="nav__link navActive">haqqımızda</a></li>
					<li class="nav__item"><a href="#" class="nav__link">xəbərlər</a></li>
					<li class="nav__item"><a href="#" class="nav__link">xidmətlər</a></li>
					<li class="nav__item"><a href="#" class="nav__link">maliyyə-hesabatları</a></li>
					<li class="nav__item"><a href="#" class="nav__link">karyera</a></li>
				</ul>

				<!-- MENU TOGGLE BUTTON -->
				<a href="#nav" class="nav__toggle" role="button" aria-expanded="false" aria-controls="menu">
					<svg class="menuicon" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 50 50">
						<title>Toggle Menu</title>
						<g>
							<line class="menuicon__bar" x1="13" y1="16.5" x2="37" y2="16.5" />
							<line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5" />
							<line class="menuicon__bar" x1="13" y1="24.5" x2="37" y2="24.5" />
							<line class="menuicon__bar" x1="13" y1="32.5" x2="37" y2="32.5" />
							<circle class="menuicon__circle" r="23" cx="25" cy="25" />
						</g>
					</svg>
				</a>

				<!-- ANIMATED BACKGROUND ELEMENT -->
				<div class="splash"></div>

			</nav>

			<div class="header-top ml-auto">
				<a class="header__call ">
					<img src="img/phone-number.png" alt="" class="img-fluid">
				</a>
				<div class="header__sosial">
					<a href="#" id="open2" class="mt-2" title="">
						<img src="img/search.png" class="icon-width-2" alt="">
					</a>
					<div class="langDropdown">
						<a href="#" class="langDropdown__az" title="">
							az
						</a>
						<div class="langContent">
							<a href="#" class="langDropdown__link" title="">
								en
							</a>
							<a href="#" class="langDropdown__link" title="">
								ru
							</a>

						</div>
					</div>
					<a href="#" class="mt-2 user" title="">
						<img src="img/man.png" class="icon-width-2" alt="">
					</a>
				</div>
			</div>
		</nav>

	</div>

	<div class="sticky-container">
		<ul class="sticky">
			<li class="fb">
				<a href="#" title="">
					<img width="32" height="32" title="" alt="" src="img/fb1.png" />

				</a>
			</li>
			<li class="twt">
				<a href="#" title="">
					<img width="32" height="32" title="" alt="" src="img/tw1.png" />

				</a>
			</li>
			<li class="ytb">
				<a href="#" title="">
					<img width="32" height="32" title="" alt="" src="img/ytb.png" />
				</a>
			</li>

			<li class="li">
				<a href="#" title="">
					<img width="32" height="32" title="" alt="" src="img/li1.png" />
				</a>
			</li>
			<li class="rss">
				<a href="#" title="">
					<img width="32" height="32" title="" alt="" src="img/rss1.png" />
				</a>
			</li>

		</ul>
	</div>
</header>