.form-page{
	padding:  3rem 0;

	& .form-control{

		&:focus{
			outline: none !important;
			border: 1px solid #e4e4e4 !important;
			background-color: #f8f8f8 !important;
			box-shadow: none !important;
		}
	}

	& input{
		width: 100%;
		background-color: #f8f8f8;
		border: 1px solid #e4e4e4;
		height: 5rem;
		padding-left: 2rem;
		font-size: 1.8rem;
		font-weight: 700;
		margin-bottom: 1rem;


		&::placeholder{
			color: #000;
		}
	}
	
	.fa-calendar-alt{
		font-size: 1.8rem;
		padding: 0 1rem;
		border-radius: .2rem;
	}

	&__select{
		display: flex;
		
		@include respondmax(md){
			margin-bottom: 2rem;
		}

		&-content{
			margin-top: -2.5rem;

		}

		&-label{
			font-size: 1.8rem;
			font-weight: 700;
		}

		&-option{
			display: block;
			width: 13.5rem;
			height: 5rem;
			font-size: 1.8rem;
			font-weight: 700;
			background-color: #f8f8f8;
			border: 1px solid #e4e4e4;

			@include respondmax(lg){
				width: 9.5rem;
			}

			@include respondmax(md){
				width: 13.5rem;
			}

			&::after{
				content: "▼";
				background-color: #414b59;
				color: #fbfbfb;
				padding: 1rem;
				border-radius: .5rem;
			}
			
		}
	}	
	


	.ui-datepicker {
		background-color: #000 !important;
		font-size: 1.4rem !important;
		color: #fff !important;
	}
}