.logo{
	padding: 5rem 0;
	background-color: #fff;

	&__link{
		display: block;
		text-decoration: none;
		background-color: #fff;
		border: 1px solid #ff2402;
		border-radius: .5rem;
		box-shadow: 0 0 .8rem rgba(0,0,0,.3);
		text-align: center;
		padding: 3rem;
		height: 10rem;
		width: 20rem;
		transition: all .4s;

		margin-top: 2.5rem;


		&:hover{
			transform: translateY(-8px);
			box-shadow: 0 0 .8rem rgba(0,0,0,.7);
			cursor: pointer;
		}

	}
}